@font-face {
    font-family: "SF-Regular";
    src: url(font/SF-Pro-Display-Regular.otf);
}

@font-face {
    font-family: "SF-Bold";
    src: url(font/SF-Pro-Display-Bold.otf);
}

@font-face {
    font-family: "SF-Heavy";
    src: url(font//SF-Pro-Display-Heavy.otf);
}

@keyframes rotate {
    100% {
        background-position: 15% 20%;
    }
}

body {
    font-family: SF-Regular;
    color: aliceblue;
    background-image: url(images/layered-waves-haikei.svg);
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
    animation: rotate 6s infinite alternate linear;
    padding: 0 24px 0 24px;
    place-items: center;
    overflow: hidden;
}

header {
    padding: 10px 0 10px 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    max-height: 5%;
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: flex-start;
}

.logo-container {
    position: relative;
    left: 20px;
}


.logo {
    top: 5px;
    mix-blend-mode: screen;
}

header > div > button {
    background-color: transparent;
    font-family: "SF-Heavy";
    color: white;
    border: transparent;
    transition: all 0.3s;
    font-size: 15px;
    margin: 30px auto 0 20px;
    gap: 10px;
    cursor: pointer;
}

header > div > button:hover {
    color: #fe2323;
    font-size: 18px;
}

.container {
    height: auto;
    background: rgba(0, 0, 0, 0.332);
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 3;
    width: 80%;
    margin: 50px auto 0 auto;
    padding: 35px 30px 44px 30px;
    border-radius: 20px;
}

article > img {
    right: 20px;
    float: right;
    height: 800px;
}

article > h1 {
    font-family: "SF-Bold";
    color: aliceblue;
    font-size: 80px;
    text-align: left;
    margin: 50px 80px 0 80px ;
}

article > p {
    font-family: "SF-Regular";
    color: aliceblue;
    font-size: 20px;
    text-align: left;
    margin: 40px 80px 0 80px ;
}

article > .buttons {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 60px 0 0 80px;
    left: 20px;
    z-index: 1;
    height: 60px;
    line-height: 40px;
    vertical-align: auto;
    column-gap: 10px;
    width: 250px;
}

.learn-more {
    background-image: linear-gradient(#FA7268,#C62368);
    width: 180px;
    border: none;
    color: #cce2f9;
    border-radius: 30px;
    font-size: 17px;
    cursor:pointer;
    text-align: center;
    font-family: "SF-Regular";
    transition: all 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.join {
    background-image: linear-gradient(#FA7268,#C62368);
    width: 110px;
    border: transparent;
    color: #FFFFFF;
    border-radius: 30px;
    font-size: 17px;
    cursor:pointer;
    font-family: "SF-Regular";
    transition: all 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.learn-more:hover {
    box-shadow: 0 -5px 20px 0 #FA7268, 0 5px 20px 0 #C62368;
}

.join:hover {
    box-shadow: 0 -5px 20px 0 #FA7268, 0 5px 20px 0 #C62368;
}

footer {
    position:fixed;
    bottom: 0;
    text-align: center;
    margin: 0 auto 0 auto;
    width: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.168);
    left: 0;
}


@media (width >= 448px) {

    article > h1 {
        font-size: 40px;
        margin: 30px 20px 0 20px ;
    }

    article > p {
        font-size: 15px;
        margin: 30px 20px 0 20px ;
    }

    article > .buttons {
        display: grid;
        margin: 40px 0 0 20px;
        width: 200px;
        padding-bottom: 30px;
    }
}

@media (width >= 626px) {

    .container {
        height: auto;
        background: rgba(0, 0, 0, 0.332);
        backdrop-filter: blur(10px);
        position: relative;
        z-index: 3;
        width: 80%;
        margin: 50px auto 0 auto;
        padding: 35px 30px 44px 30px;
        border-radius: 20px;
    }

    article > h1 {
        font-family: "SF-Bold";
        color: aliceblue;
        font-size: 80px;
        text-align: left;
        margin: 50px 80px 0 80px ;
    }
    
    article > p {
        font-family: "SF-Regular";
        color: aliceblue;
        font-size: 20px;
        text-align: left;
        margin: 40px 80px 0 80px ;
    }

    
article > .buttons {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 60px 0 0 80px;
    left: 20px;
    z-index: 1;
    vertical-align: auto;
    column-gap: 10px;
    width: 250px;
}
}

@media only screen and (device-width: 1280px),
only screen and (max-width:1280px) {
    
    header {
    font-size:15px;
    padding: o o o o;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    max-height: 2%;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    justify-content: flex-start;
}
    
    article > h1 {
        font-size: 40px;
        margin: 20px 20px 0 20px ;
    }

    article > p {
        font-size: 15px;
        margin: 30px 20px 0 20px ;
    }

    article > .buttons {
        display: grid;
        margin: 40px 0 0 20px;
        width: 200px;
        padding-bottom: 10px;
        height: 30px;
    }
    .learn-more {
    background-image: linear-gradient(#FA7268,#C62368);
    width: 90px;
    border: none;
    color: #cce2f9;
    border-radius: 15px;
    font-size: 13px;
    cursor:pointer;
    text-align: center;
    font-family: "SF-Regular";
    transition: all 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.join {
    background-image: linear-gradient(#FA7268,#C62368);
    width: 55px;
    border: transparent;
    color: #FFFFFF;
    border-radius: 15px;
    font-size: 13px;
    cursor:pointer;
    font-family: "SF-Regular";
    transition: all 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
}
   }
